.hero{
  background-color: #a56b34;
  font-family: 'Amatic SC', cursive;
}
.title{
  color: white;
  font-size: 60px;

}
.subtitle
{
  color: #d18b49;
  font-size: 36px;
}

.backColor{
  position: absolute;
  background: #a56b34;
  padding: 0 100% 11% 0;
  z-index: -1;
}
footer{
  background-color: #a56b34;
}

.column{
    background-color: white;
    margin-top: 4%;
    border-radius: 10px;
    background-color: #d18b49;
    padding-bottom: 60px;
    box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.2);
}

  .dropdown-content {
    display: block;
    position: relative;
    float: left;
    background-color: 	#b97331;
    padding: 10px;
    margin-top: 30px;
    z-index: 1;
   
    color: white;
    font-size: 30px;
    height: 38%;
    border-color: #70451d;
    width: 20%;
  }


  #fname{
    position: relative;
    display: block;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 0.3em;
    width: 35%;
    height: 38%;
    padding: 12px 20px;
    box-sizing: border-box;
    font-size: 30px;
    float: left;

  }
  

  h3{
    font-size: 50px;
    font-family: 'Amatic SC', cursive;
    font-weight: bolder;
    text-align: center;
    color: white;
    
  }

  @media only screen and (max-width: 420px) {
    .dropdown-content{
      margin-left: 0;
      width: 40%;
    }
    .dropdown-content{
      font-size: 17px;
    }

    #fname{
      margin-left: 5px;
      font-size: 15px;
      width: 50%;
    }

    button{
      width: 33%;
      margin-left: 0 !important;
      font-size: 15px !important;
    }
  }



  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 8px;
  }

  button{
    display: block;
    position: relative;
    float: left;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 1em;
    font-family: 'Amatic SC', cursive;
    box-sizing: border-box;
    font-size: 2.8rem;
    color: white;
    background-color: 	#b97331;
  }

