.backColor{
  position: absolute;
  background: #a56b34;
  padding: 0 100% 25% 0;
  z-index: -1;
}
footer{
  background-color: #a56b34;
}

.column{
    background-color: white;
    margin-top: 15%;
    border-radius: 10px;
    background-color: #d18b49;
    padding-bottom: 60px;
    box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.2);
}

  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: 	#b97331;
    padding: 10px;
    margin-top: 9px;
    z-index: 1;
    margin-left: -12px;
    color: white;
    

  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    background-color:	white;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 80px;
  }

  #fname{
    position: relative;
    display: inline-block;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 10px;
    width: 40%;
    height: 65px;
    padding: 12px 20px;
    box-sizing: border-box;
    font-size: 30px;

  }
  
  span{
    font-size: 30px !important;
    font-family: 'Amatic SC', cursive;
  }

  h3{
    font-size: 50px;
    font-family: 'Amatic SC', cursive;
    font-weight: bolder;
    text-align: center;
    color: white;
    
  }